TransitPlannerService/TransitPlannerMobile/Service References/RoutePlannerService/SoapService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.3:55870/Services/v1/SoapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" />
  <xs:import schemaLocation="http://192.168.0.3:55870/Services/v1/SoapService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TransitPlannerWebContracts" />
  <xs:element name="GetAllStops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetAllStopsResult" nillable="true" type="q1:ArrayOfTransitStop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStops">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetStopsResult" nillable="true" type="q2:ArrayOfTransitStop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetStopResult" nillable="true" type="q3:TransitStopInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetRoutesResult" nillable="true" type="q4:ArrayOfTransitRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetRouteResult" nillable="true" type="q5:TransitRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadata">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetMetadataResult" nillable="true" type="q6:TransitMetadata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="route_id" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="when" nillable="true" type="q7:TransitDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetScheduleResult" nillable="true" type="q8:ArrayOfTransitSequenceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSequences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="route_id" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="when" nillable="true" type="q9:TransitDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSequencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetSequencesResult" nillable="true" type="q10:ArrayOfTransitSequenceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetSequenceResult" nillable="true" type="q11:ArrayOfTransitSequenceElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TransitPlannerWebContracts" minOccurs="0" name="parameters" nillable="true" type="q12:WebTransitPlanRequestParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetPlanResult" nillable="true" type="q13:TransitPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimplePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="hour" type="xs:int" />
        <xs:element minOccurs="0" name="minute" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimplePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TransitPlannerContracts" minOccurs="0" name="GetSimplePlanResult" nillable="true" type="q14:TransitPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTroubleReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TransitPlannerWebContracts" minOccurs="0" name="trouble_report_parameters" nillable="true" type="q15:SendTroubleReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>